.navBar{
    background-color: cadetblue;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    background-image: url(./Assets/Imagenes/logo.png);
    background-position: center center;
    background-size: cover;
    width: 80px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.items li{
    padding: 5px;
    margin: 10px;
    list-style-type: none;
    font-weight: bolder;
    position: relative;
    left: 270px;
}

.style{
    color: bisque;
    text-decoration: none;
    list-style: none;
}

.style:hover{
transform: scale(1.1);
transition: transform 1.3s;
color:black;
}
